h2{
	font-weight: normal;
	font-size: 22px;
	letter-spacing: -0.025em;
}
.mail-center{
	text-align: center;
	font-style: italic;
}
.subscription-holder{
	height: 40px;
}
.subscription-holder p{
	display: inline-block;
	margin-left: 44%;
	cursor: pointer;
}
.email{
	border: solid 1px #b0b0b0;
	height: 30px;
	background: #f8f8f8;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
	color: #666666;
	font-size: 16px;
	width: 260px;
	margin-right: 10px;
	padding: 0 5px;
}
#mc-embedded-subscribe{
	height: 32px;
}
.email:hover,
.email:active,
.email:focus{
	background: #fff;
	outline: none;
}
.inline{
	float: left;
}
.mail-input{
	margin: 0 auto;
	width: 420px;
	height: 0px;
	display: none;
	opacity: 0;

	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.mail-active{
	height: 40px;
	opacity: 1;
	display: block;
}
