#navigation{
	display: inline-block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.fields-holder{
	display: none;
}
.fields-holder.visible-list{
	display: block;
}